.services {
  padding-top: 0;
}

.services__list {
  @extend %grid;
}

.services__item {
  position: relative;

  @extend %grid-item;
  --grid-item: 3;
}

.services__overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  min-height: 70px;
  @include padding(27px, 27px);

  background-color: rgba(47, 48, 58, 0.8);
}

.services__subtitle {
  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-bcg-color);
}
